language: node_js
node_js:
- 4.2.3
matrix:
  fast_finish: true
  allow_failures:
  - node_js: 5.1.1
before_script:
- npm install -g bower grunt-cli
- bower install
services: mongodb
after_script: source ./scripts/sonar.sh
before_deploy: source ./scripts/pre-release.sh
deploy:
  provider: releases
  skip_cleanup: true
  file: nodejs-getting-started-$BUILD_VERSION.tar.gz
  on:
    tags: false
    all_branches: true
    condition: "$TRAVIS_BRANCH = $PRE_RELEASE_BRANCH || $TRAVIS_BRANCH = $RELEASE_BRANCH"
  api_key:
    secure: FvyiRe+uH2Zkvto+yi9O0nvHBOxZ8qnevUIv3wYmYtqF9T5G+0kpLfPjh0APnohPKbK7ck/sb2qReMtg89o2/otM5m1AaDEa92VdSnAKMqVIPw6Rumit7adskFlY2l7GuHB03d4fu86N6XNqz2nchKyoLBfiEWSqwqgPGTU8HV38zGrCPhtvFAtjSD/TyvskDrZM1RlKsnTTtUPuDTYFg59PuLj4LUQh2cJpg+VMaofceSou7KPsQdBHgKdGSgyGKIv/XjS62GZLrTktc8Y2vEAxxgbqCS2j0XdPPgC9z4dO03OkStkDY7v+oFPUTeNTtlHzwtybECCgUEIlzYJ8wv3lOHgdLIIqde4uwOJPPnziJKf4oGN090A1EFfMJX+vKn24fkbnrCb4Gl9xt5aw0Mo1y/RJXcWAP2Le3IoKaJ1LX47tviL62qoqeon5gX1FilOFwAFlqn6DvqjYQA1FIG1e6pZgZt7KxETNKbQ1WpAdTTslnOnXA5vwGLH3wEdWENMQFH2WnWdD13wxvrIsG8aPKDwUw82xd901p8mHpH5Ls5gk3iv5clwF+0U92L/PLTlEmMlcyE8i7606uC9BiPLItqfJ6UR95EpnDNw8LmQfrpcrkugEVQha8qjn1aWokRRURBmQ178IOyXgtGFR/uFZtrbOk8dQTCSCOXzF/20=
env:
  global:
  - PRE_RELEASE_BRANCH=dev
  - RELEASE_BRANCH=master
  - SONAR_HOST_URL=https://sonar.appsluiza.com.br/
